*{
    margin: 0;
    padding: 0;
}

#borda{
    background-color: blue;
    height: 700px;
    width: 350px;
    border: 5px solid black
}

#cubo{
    height: 35px;
    width: 35px;
    background-color: red;
    border: 5px solid black
}